html {
  height: 100%;
  width: 100%;
  min-width: 1460px;
}

body {
  font-family: sans-serif;
  font-family: 'Itim', cursive;
  line-height: 1.2
}

a {
  text-decoration: none;
  font-size: 20px;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  color: black;
  margin: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

span {
  font-weight: bold;
}

#navbar {
  background-color: #f83c4b;
  border-bottom: 5px solid black;
}

#user-home, #new-game {
  margin: 10px;
}

#app-name {
  margin: 0px;
  padding: 5px 0px 0px 5px;
  color: white;
}

#app {
  display: flex;
  flex-direction: column;
}

#app-container {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
}

#game-container {
  display: inline-flex;
  flex-grow: 1;
  width: 100%;
  background-size: contain;
  background-image: url('Table.jpg');
  justify-content: space-around;
  align-items: center;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 30px;
}

.card {
  height: 450px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
}

.draw-hover {
  opacity: 0
}

.draw.draw-hover:hover {
  opacity: 1
}


.card-container {
  border: 5px solid white;
  border-radius: 15px;
  position: relative;
}

.no-bust {
  opacity: 0
}

.draw.draw-border {
  border: 5px solid rgb(0, 180, 0);
}

.shuffle {
  opacity: .25;
}

.no-card {
  opacity: .6;
}

.die {
  height: 100px;
  width: 100px;
  margin: 1px 5px;
  border: 5px solid black;
  border-radius: 23px;
  opacity: .6;
}

.die-container {
  display: flex;
  flex-direction: column;
  height: 140px;
}

.held {
  margin: 25px 5px 0px;
}

.pointer {
  border: 5px solid rgb(0, 180, 0);
}

.live {
  opacity: 1;
}

.dice-container {
  display: flex;
  justify-content: center;
}

.live.pointer.die.roller:hover {
  box-shadow: 1px 4px 7px 2px black;
}

.button {
  font-size: 42px;
  opacity: .6;
  margin: 10px 5px;
  padding: 5px;
  border: 5px solid black;
  border-radius: 15px;
}

.button-hot {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border: 5px solid rgb(0, 180, 0);
  /* text-shadow: 1px 3px 3px black; */
  color: rgb(0, 180, 0);
}

.button-hot:hover {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 4px 7px 2px black;
}

.button-container {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.current-player {
  opacity: 1;
  color: rgb(0, 180, 0);
}

.all-scores {
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  background-image: url('Paper.jpg');
  box-shadow: 2px 3px 5px 1px black;
  height: 758px;
  letter-spacing: 2px;
}

.turn-score-container {
  margin: 5px 5px 5px;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-score {
  font-size: 88px;
  padding-left: 8px;
  text-align: center;
}

.inheritance {
  color: rgb(0, 180, 0);
}

.inheritance:hover {
  text-shadow: 1px 4px 3px black;
}

.player-name {
  margin-top: 3px;
  padding-bottom: 2px;
  border-bottom: 3px solid black;
  margin-bottom: 2px; 
  font-size: 32px;
}

.past-scores {
  border: 5px solid black;
  min-width: 660px;
  margin: 5px;
  margin-top: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  font-size: 32px;
}

.player-score-list {
  width: 100px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.past-player-score {
  text-decoration: line-through;
}

@media (hover: none) {
  #app-container {
    margin-bottom: 8px;
  }
  .live.pointer.die:hover {
    box-shadow: none;
  } 
  .button-hot:hover {
    box-shadow: none;
  } 
  .inheritance:hover {
    text-shadow: none;
  }
  .draw.draw-hover:hover {
    opacity: 0
  }
}