html {
  height: 100%;
  width: 100%;
  min-width: 1460px;
}

  body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

span {
  font-weight: bold;
}

.navbar {
  background-color: #f83c4b;
  border-bottom: 5px solid black;
}

.app-name {
  margin: 0px;
  padding: 10px 0px 0px 10px;
  color: white;
}

#app-container {
  height: 855px;
  border: 5px solid black;
}

.game-container {
  width: 100%;
  height: calc(100% - 90px);
  background-size: contain;
  background-repeat: repeat-x;
  background-image: url('Table.jpg');
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 30px;
}

.card {
  height: 450px;
  width: 300px;
  border-radius: 10px;
  position: absolute;
}

.draw-hover {
  opacity: 0
}

.draw.draw-hover:hover {
  opacity: 1
}


.card-container {
  border: 5px solid white;
  border-radius: 15px;
  position: relative;
}

.no-bust {
  opacity: 0
}

.draw.draw-border {
  border: 5px solid rgb(0, 180, 0);
}

.shuffle {
  opacity: .25;
}

.no-card {
  opacity: .6;
}

.die {
  height: 100px;
  width: 100px;
  margin: 1px 5px;
  border: 5px solid black;
  border-radius: 23px;
  opacity: .6;
}

.die-container {
  display: flex;
  flex-direction: column;
  height: 140px;
}

.held {
  margin: 25px 5px 0px;
}

.pointer {
  border: 5px solid rgb(0, 180, 0);
}

.live {
  opacity: 1;
}

.dice-container {
  display: flex;
  justify-content: center;
}

.live.pointer.die.roller:hover {
  box-shadow: 1px 4px 7px 2px black;
}

.button {
  font-size: 36px;
  opacity: .6;
  margin: 10px 5px;
  padding: 5px;
  border: 5px solid black;
  border-radius: 15px;
  padding-bottom: 8px;
}

.button-hot:hover {
  box-shadow: 1px 4px 7px 2px black;
}

.button-hot {
  opacity: 1;
  border: 5px solid rgb(0, 180, 0);
  text-shadow: 1px 3px 3px black;
  color: rgb(0, 180, 0);
}

.button-container {
  margin: 5px;
  display: flex;
  justify-content: space-around;
}

.current-player {
  opacity: 1;
  color: rgb(0, 180, 0);
}

.all-scores {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px 5px;
  background-image: url('Paper.jpg');
  box-shadow: 2px 3px 5px 1px black;
}

.turn-score-container {
  margin: 5px 5px 5px;
  text-align: center;
  border: 5px solid black;
}

.turn-score {
  font-size: 88px;
  text-align: center;
}

.inheritance {
  color: rgb(0, 180, 0);
  text-shadow: 2px 2px 2px black
}


.past-scores {
  border: 5px solid black;
  min-width: 660px;
  margin: 5px;
  margin-top: 0px;
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  font-size: 32px;
}


.player-name {
  text-decoration: underline;
  color: black;
  margin-bottom: 5px; 
  font-size: 36px;
}

.player-score-list {
  max-width: 100px;
  margin: 0px 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.past-player-score {
  text-decoration: line-through;
  margin: 0px;
}

.player-score {
  color: black
}

@media (hover: none) {
  .live.pointer.die:hover {
    box-shadow: none;
  } 
  .button-hot:hover {
    box-shadow: none;
  } 
  .draw.draw-hover:hover {
    opacity: 0
  }
}